*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}
.container{
	width:1240px;
	margin:0 auto;
	padding-top:20px;

}
.section{
	border:2px solid black;
	width:400px;
	padding:25px;
	margin:11px auto;
	background-color:#ffffff;
	box-shadow:0 0 50px 12px #eee;
	border:none;
	border-radius:5px;
	
}
.forms1{
	padding-top:20px;
}
.forms2{
	padding-top:20px;
}
.forms3{
	padding-top:20px;
}
.forms4{
	padding-top:20px;
}
.forms5{
	padding-top:20px;
}
.forms6{
	padding-top:20px;
}
.link{
	color:#2682ac;
	font-size:30px;
	
}

.goo{
	text-decoration:none;
	font-size:16px;
	display:inline-block;
	border:1px solid black;
	width:300px;
	height:52px;
	padding:10px 15px;
	border-radius:30px;
	margin:10px 0px;
	text-align:center;
	color:black;
}
.button a{
	display:flex;
	align-items:center;
	justify-content:center;
	gap:10px;

}
.shows{
	text-decoration:none;
	font-size:16px;
	position:absolute;
	top:280px;
	left:55%;
	color:#5577b1;
}

	
.password {
	position:relative;
}

.or{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
	color:#898187;
    text-align: center;
    line-height: 27px;
	position:absolute;
	top:6px;
	left:130px;
	display:inline;
	font-size:16px;

}

.agree{
	text-decoration:none;
	font-size:18px;
	color:black;
	font-family: 'Crimson Pro', serif;
}
.user{
display:flex;
justify-content:center;
gap:20px;
padding-top:20px;


}
.in{
    text-decoration: none;
    display: inline-block;
    height: 45px;
    width: 300px;
    border: 2px solid blue;
    border-radius: 25px 25px;
    background-color: #0b66c3;
    text-align: center;
    color: white;
    border: none;
    line-height: 36px;

}
.fp{
font-size:16px;
color:#6383ad;
text-decoration:none;
padding-top:20px;
}
.sign{
font-weight:bold;
font-size:30px;
margin-bottom:10px;
padding-top:20px;
}
.stay{
font-size:15px;
color:#9aa3a3;	
}
.input input{
	height:30px;
	width:300px;
	padding:25px 10px;
	border-radius:10px;
	outline:0;
}
.forms5{
	border-bottom:1px solid;
	width:300px;
	position:relative;
	padding-top:20px;
}
.main_container{
	margin-left:20px;
}
.now{
	font-size:18px;
	text-align:center;
	padding-top:20px;
	font-family: 'Crimson Pro', serif;
}
.joinnow{
	text-decoration:none;
	font-size:18px;
	padding-top:20px;
	font-family: 'Crimson Pro', serif;
	
}



	
	
	

	